<div
  class="flex items-center justify-center space-x-3 md:space-x-20 lg:space-x-20 font"
>
  <div>
    <a class="footerText" href="/hammerstuecke.github.io/imprint">Impressum</a>
  </div>
  <div>
    <a class="footerText" href="/hammerstuecke.github.io/gdpr"
      >Datenschutzerklärung</a>
  </div>
  <div>
    <a class="footerText" href="/hammerstuecke.github.io/contact">Kontakt</a>
  </div>
</div>
<style>
  .footerText {
    color: #eef0f2;
  }
</style>
