<div
  class="flex items-center justify-center space-x-3 md:space-x-20 lg:space-x-20"
>
  <div><a href="/hammerstuecke.github.io/imprint">Impressum</a></div>
  <div><a href="/hammerstuecke.github.io/gdpr">Datenschutzerklärung</a></div>
  <div><a href="/hammerstuecke.github.io/contact">Kontakt</a></div>
</div>
